* {
    font-family: 'Arial Narrow Bold', sans-serif;
    margin: 0;
    padding: 0;
}

p, h4{
    text-align: justify;
    padding: 0 20px;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
}

.contents{
    width: 100%;
    height: 100vh;
} .contents > .header{
    display: flex;
    justify-content: center;
    background-image: linear-gradient(45deg, aliceblue, turquoise);
    box-shadow: 0px 0px 5px black;
} .contents > .header > header{
    display: flex;
    align-items: center;
} .contents > .header > header > h1 , .contents > .header > header > p {
    padding: 0 10px;
}

.main {
    margin-top: 1%;
    /*! height: 40vh; */
} .main > h3{
    text-align: center;
}

.container {
    display: flex;
} .container .card {
    width: auto;
    height: auto;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    margin: 20px;
    padding-bottom: 5px;
    transition: all 1s ease-in-out;
} .container .card .img {
    height: 250px;
    padding: 0;
    margin: 0;
    background-color: turquoise;
    margin-bottom: 10px;
    border-radius: 10px 10px 0 0;
} .container .card:hover{
    transform: scale(1.03);
}

@media (max-width: 1000px) {
    .container{
        display: none;
    }

    .main {
        margin-top: 10%;
    }

}

.main > main {
    width: 100%;
    height: 40vh;
}

.main > main > section {
    width: 50%;
}

.main > main{
    display: flex;
    justify-content: space-between;
}

.main > main > .section-2 > .calculadora{
    padding: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.main > main > section >.calculadora{
    width: 30%;
    margin-inline: 30%;
    height: 50%;
}